<template name="headerClassic">
  <header>
    <div class="logo">
      <a href="{{pathFor 'home'}}">{{_ 'brand'}}</a>
    </div>

    <div class="header-left">
      <button type="button" class="btn btn-black btn-header" data-toggle="navigations"><i class="fa fa-2x fa-bars"></i></button>
    </div>

    <div class="header-right">
      {{#if currentUser}}
        <button type="button" id="btnNotification" class="btn .btn-info-custom btn-header" data-toggle="notifications"><i class="fa fa-2x fa-bell"></i>
          {{#if notificationsCount}}<span class="badge">{{notificationsCount}}</span>{{/if}}
        </button>
      {{/if}}
    </div>
  </header>
  <div id="notifications" class="balloon bottom">
    <div class="arrow"></div>
    {{> notificationsList}}
  </div>
</template>
