<template name="treeMenu">
  <ul class="nav nav-pills nav-stacked">

    <!-- Connections List -->
    <li role="presentation" class="{{activeRoute 'connectionsList'}}">
      <a href="{{pathFor 'connectionsList'}}">
        <i class="fa fa-list"></i> {{_ 'title_connections_list'}}
      </a>
    </li>

    <!-- Accounts List -->
    <li role="presentation" class="{{activeRoute 'accountsList'}}">
      <a href="{{pathFor 'accountsList'}}">
        <i class="fa fa-list"></i> {{_ 'title_accounts_list'}}
      </a>
    </li>

    <!-- Category List -->
    <li role="presentation" class="{{activeRoute 'categoriesList'}}">
      <a href="{{pathFor 'categoriesList'}}">
        <i class="fa fa-list"></i> {{_ 'title_categories_list'}}
      </a>
    </li>

    <!-- Post List -->
    <li role="presentation" class="{{activeRoute 'postsList'}}">
      <a href="{{pathFor 'postsList'}}">
        <i class="fa fa-list"></i> {{_ 'title_posts_list'}}
      </a>
    </li>

    <!-- System -->
    <li role="presentation" class="{{activeRoute 'systemEdit'}}">
      <a href="{{pathFor 'systemEdit'}}">
        <i class="fa fa-list"></i> {{_ 'title_system_edit'}}
      </a>
    </li>

  </ul>
</template>