<template name="treeMenu">
  <div class="list-group">
    <!-- Home -->
    <a id="home" class="list-group-item {{active 'home'}}"
       href="{{pathFor 'home'}}" >
      <i class="fa fa-home"> </i> {{_ 'title_home'}}
    </a>

    {{#if currentUser}}
      <a id="myworks" class="list-group-item {{active 'myworks'}}"
         href="{{pathFor 'myworks' mode='draft'}}">
        <i class="fa fa-inbox"> </i> My Works
      </a>
    {{/if}}

    {{! read from module 'category' }}
    {{> categoriesList}}

    <!-- Preferences
    <a href="{{pathFor 'preference'}}"
       class="list-group-item {{active 'preference'}}">
      <i class="fa fa-gear"> </i> {{_ 'title_preference'}}
    </a>
     -->
  </div>
</template>