<template name="treeMenu">
  <div class="list-group">
    <!-- Home -->
    <a href="{{pathFor 'home'}}" class="list-group-item {{active 'home'}}">
      <i class="fa fa-home"> </i> {{_ 'title_home'}}
    </a>

    {{#if currentUser}}
      <a href="{{pathFor 'myworks' mode='draft'}}"
         class="list-group-item {{active 'myworks'}}">
        <i class="fa fa-inbox"> </i> My Works
      </a>
    {{/if}}

    {{! read from module 'category' }}
    {{> categoriesList}}

    <!-- Preferences
    <a href="{{pathFor 'preference'}}"
       class="list-group-item {{active 'preference'}}">
      <i class="fa fa-gear"> </i> {{_ 'title_preference'}}
    </a>
     -->
  </div>
</template>