<template name="treeMenu">
  <ul id="navMain" class="nav nav-pills nav-stacked">
    <!-- Home -->
    <li role="presentation" class="{{active 'home'}}">
      <a href="{{pathFor 'home'}}">
        <i class="fa fa-home"> </i> {{_ 'title_home'}}
      </a>
    </li>

    {{#if currentUser}}
      <!-- My Blogs
      <li role="presentation" data-path="myBlogsList">
        <a href="{{pathFor 'myBlogsList'}}">
          <i class="fa fa-th-list"></i> {{_ 'title_my_blogs'}}
        </a>
      </li>
       -->
    {{/if}}

    {{! read from module 'category' }}
    {{> categoriesList}}

    <!-- Preferences -->
    <li role="presentation" class="{{active 'preference'}}">
      <!-- todo: Theme less refactoring by yongsunlee -->
      <!--<a href="{{pathFor 'preference'}}">-->
      <a href="#">
        <i class="fa fa-gear"> </i> {{_ 'title_preference'}}
      </a>
    </li>
  </ul>
</template>