<template name="treeMenu">
  <ul id="navMain" class="nav nav-pills nav-stacked">
    <!-- Home -->
    <li role="presentation" class="{{active 'home'}}">
      <a href="{{pathFor 'home'}}">
        <i class="fa fa-home"> </i> {{_ 'title_home'}}
      </a>
    </li>

    {{#if currentUser}}
    <li role="presentation" class="{{active 'postMyWorks'}}">
      <a href="{{pathFor 'postMyWorks'}}">
        <i class="fa fa-inbox"> </i> My Works
      </a>
    </li>
	  {{/if}}

    {{! read from module 'category' }}
    {{> categoriesList}}

    <!-- Preferences -->
    <li role="presentation" class="{{active 'preference'}}">
      <!-- todo: Theme less refactoring by yongsunlee -->
      <!--<a href="{{pathFor 'preference'}}">-->
      <a href="#">
        <i class="fa fa-gear"> </i> {{_ 'title_preference'}}
      </a>
    </li>
  </ul>
</template>