
//
//  Aside pin
//--------------------------------------------------------------
.aside-pin {
  display: inline;

  &.active {
    color: #000;
  }
}

@media (max-width: @screen-xs-max) {
  .aside-pin {
    display: none;
  }
}

/*
@media (max-width: @screen-sm-min) {
}
@media (min-width: @screen-md-min) {
}
@media (min-width: @screen-lg-min) {
}
*/


//
//  Navigation module
//--------------------------------------------------------------
#nav-main {
  min-height: 100%;

  header {
    position: relative;

    padding-right: 30px;

    .clearfix();


  }

  .list-group {
    margin-bottom: 5px;
  }
}

//
//  Account info box in the left aside
//--------------------------------------------------------------
.account-info {

}

#user-status, button#sign-in {
  margin-bottom: 5px;
}

//
//  Notifications
//--------------------------------------------------------------
.notification-frame.balloon {
  position: absolute;
  top: 50px;
  right: 5px;
  max-width: 300px;
  padding: 1px;
  border: 1px solid @balloon-border-color;
  border-radius: @border-radius-large;

  z-index: @zindex-balloon;
  display: none;

  background-color: @balloon-bg;
  background-clip: padding-box;
  .box-shadow(1px 1px 5px rgba(0, 0, 0, .8));

  // Offset the balloon to account for the balloon arrow
  &.top     { margin-top: -@balloon-arrow-width; }
  &.right   { margin-left: @balloon-arrow-width; }
  &.bottom  { margin-top: @balloon-arrow-width; }
  &.left    { margin-left: -@balloon-arrow-width; }
}

article.notifications {
  padding: 10px;

  .body {
    p {
      margin: 0;
      padding: 5px 0;
      cursor: pointer;
    }

    p + p {
      border-top: solid 1px #ccc;
    }
  }

  footer {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 30px;
  }
}

#btnNotification .badge {
  position: absolute;
  top: -8px;
  right: -8px;
  color: #fff;
  background-color: @brand-danger;
}

//
// Spinner
//--------------------------------------------------------------
.spinner-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: @zindex-modal + 1;
}

.list-spinner-wrapper {
  position: relative;
  height: 42px;
}

.load-more {
  cursor: pointer;
}

.loggingIn {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: @zindex-modal + 1;
}

//
// connections list
//--------------------------------------------------------------

.connections-frame {
  position: fixed;
  
  bottom: 0;
  right: 50px;
  
  width: @connection-item-width;
  height: 300px;
  border: none; //solid 1px @panel-info-border;
  border-radius: @border-radius-base;
  box-shadow: 0 1px 3px #666;

  background: @brand-info;
  z-index: @zindex-navbar-fixed;

  .transition(@slide-transition-time ease-out all);

  header {
    height: 30px;

    cursor: pointer;

    p {
      margin: 0 5px;
      padding: 0;
      line-height: 30px;
    }
  }

  .body {
    height: 100%;
    padding: 5px;
    background: #fff;

    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.connections-frame.minimized {
  bottom: -10px;
  height: 40px;
}


/*
.chat-frame.opened {
  position : absolute;
  height: 300px;
  width : 300px;
  bottom : 0;
  z-index: 3000;
  background-color : @chat-background;
  font-family: "Roboto", "HelveticaNeue-Light", "sans-serif";
}

.chat-view {
  position : absolute;
  height: 100%;
  width: 100%;

  > .chat-header {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    z-index: 100;
    top: 0;
    height: 28px;
    background-color : @header-bg;
    width: 100%;
    align-items: center;

    .menu-left {
      color: @chat-header-background;
    }
  }

  > .chat-main {
    position: relative;
    margin: 28px 20px 0px 0px;
    overflow: hidden;
    width: 100%;
    height: calc(100% - 20px);

    .chat-message-lists{
      position: absolute;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      width: calc(100%);
      word-wrap: break-word;
      -webkit-font-smoothing: antialiased;
    }
  }

  > .chat-footer {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    z-index: 100;
    min-height: 28px;
    padding: 5px 10px 0px 10px;
    background: #FCFCFC;
    border-top: 1px solid #eaeaea;

    > .chat-message-box {
        height: 28px;

      > .chat-textarea {
        display: block;
        width : 100%;
        resize: none;
        min-height: 26px;
        height: 26px;
        border: 1px solid #e7e7e7;
        padding: 2px 5px 2px 5px;
        position: relative;
        outline: none;
        line-height: normal;
      }
    }
  }
}
.menu-left {
  width: 50%;
  margin-left: 15px;
  text-align: left;
}

.menu-right {
  width: 50%;
  margin-right: 15px;
  text-align: right;
}

a.chat-minimize, a.chat-exit {
  color: @chat-header-background;
}

a.chat-minimize:hover, a.chat-exit:hover {
  color: @chat-header-background-hover;
  text-decoration: none;
}

.chat-partner {
  overflow-x: auto;
  margin-left: 40px;
  line-height: @chat-message-line-height;
  height: 100%;
}

.chat-self {
  line-height: @chat-message-line-height;
}

.chat-date {
  line-height: @chat-message-line-height;
  color: #9197a3;
  position: relative;
}

.chat-date:before {
  content: attr(data-date);
  z-index: 10;
  position: absolute;
  background-color: @chat-background;
  left: 50px;
  display: table;
  padding: 0 5px;
}

.chat-date:after{
  content: " ";
  display: block;
  width: 100%;
  border: 1px solid #d1d1d1;
  opacity: 0.3;
  position: absolute;
  top: 16px;
}
.chat-message-list {
  line-height: 1.28;
  margin: @chat-message-margin;
  overflow: hidden;
  padding: 5px 0;
  text-align: left;
  height: @chat-message-height;
  > a {
    float: left;
  }

}

.chat-frame.opened {
  display: none;
}

.chat-frame.opened.focusedTab {
  display: block;
}
*/

//
//
//--------------------------------------------------------------
[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  color: #bababa;
}

.title-editable {
  padding: 2px;
}

.content-editable {
  min-height: 100px;
  padding: 2px;
}
