
//
//  Aside pin
//--------------------------------------------------------------
.aside-pin {
  display: inline;

  &.active {
    color: #000;
  }
}

@media (max-width: @screen-xs-max) {
  .aside-pin {
    display: none;
  }
}

/*
@media (max-width: @screen-sm-min) {
}
@media (min-width: @screen-md-min) {
}
@media (min-width: @screen-lg-min) {
}
*/


//
//  Navigation module
//--------------------------------------------------------------
#nav-main {
  min-height: 100%;

  header {
    position: relative;

    padding-right: 30px;

    .clearfix();


  }

  .list-group {
    margin-bottom: 5px;
  }
}

//
//  Account info box in the left aside
//--------------------------------------------------------------
.account-info {

}


//
//  Notifications
//--------------------------------------------------------------
article.notifications {
  padding: 10px;

  .body {
    p {
      margin: 0;
      padding: 5px 0;
      cursor: pointer;
    }

    p + p {
      border-top: solid 1px #ccc;
    }
  }
  footer {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 30px;
  }
}

#btnNotification .badge {
  position: absolute;
  top: -8px;
  right: -8px;
  color: #fff;
  background-color: @brand-danger;
}

//
// Spinner
//--------------------------------------------------------------
.spinner-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: @zindex-modal + 1;
}

.list-spinner-wrapper {
  position: relative;
  height: 42px;
}

.load-more {
  cursor: pointer;
}

.loggingIn {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: @zindex-modal + 1;
}

//
// connections list
//--------------------------------------------------------------

#connections-list {
  margin-bottom: 5px;

  .panel-heading {
    position: relative;

    .expand {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  .panel-body {
    /*
    -webkit-transition: all @slide-transition-time ease-out;
         -o-transition: all @slide-transition-time ease-out;
            transition: all @slide-transition-time ease-out;
    */
    -webkit-transition: all 0.5s ease-out;
         -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
  }
  .panel-body.show {
    //display: block;
    height: auto;
  }
  .panel-body.hide {
    //display: none;
    height: 0;
  }
}

#user-status, button#sign-in {
  margin-bottom: 5px;
}

#connections-sign-in {
  position: absolute;

  top: @header-height;
  right: 0;
  width: 60px;
  height: 100%;

  z-index: @zindex-navbar-fixed + 1;
  overflow-y: scroll;

  background: #ddffdd;
}

//
//
//--------------------------------------------------------------
[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  color: #bababa;
}

.title-editable {
  padding: 2px;
}

.content-editable {
  min-height: 100px;
  padding: 2px;
}


//
//
//--------------------------------------------------------------

.chat-view {
  position : absolute;
  height: 285px;
  width : 300px;
  bottom : 0;
  z-index: 3000;
  background-color : bisque;

  > .chat-messages {
    height: 100%;
    overflow-y: scroll;
  }

  > .chat-footer {
    position: absolute;
    bottom: 0;
    > .chat-textarea {
      display: block;
      width : 100%;
      bottom: 0;
      height: 0;
      min-height:16px;
      resize: none;

    }
  }
}